certifi==2019.11.28
chardet==3.0.4
idna==2.9
request==2019.4.13
requests==2.23.0
requests-file==1.4.3
requests-toolbelt==0.9.1
urllib3==1.26.5
sodapy==2.0.0
websocket-client==0.57.0
json5==0.9.1
jsonschema==3.2.0
urllib3==1.26.5
webencodings==0.5.1
websocket-client==0.57.0
pandas==1.0.1
